<!DOCTYPE kpartgui>
<kpartgui version="42" name="okular_part">
 <MenuBar>
  <Menu name="file" noMerge="1">
   <text translationDomain="okular">&amp;File</text>
   <Action name="get_new_stuff" group="file_open"/>
   <Action name="import_ps" group="file_open"/>
   <Action name="file_save" group="file_save"/>
   <Action name="file_save_as" group="file_save"/>
   <Action name="file_reload" group="file_save"/>
   <Action name="file_print" group="file_print"/>
   <Action name="file_print_preview" group="file_print"/>
   <Action name="open_containing_folder" group="file_print"/>
   <Action name="properties" group="file_print"/>
   <Action name="embedded_files" group="file_print"/>
   <Action name="file_export_as" group="file_print"/>
   <Action name="file_share" group="file_print"/>
  </Menu>
  <Menu name="edit" noMerge="1">
   <text translationDomain="okular">&amp;Edit</text>
   <Action name="edit_undo"/>
   <Action name="edit_redo"/>
   <Separator/>
   <Action name="edit_copy"/>
   <Separator/>
   <Action name="edit_select_all"/>
   <Action name="edit_select_all_current_page"/>
   <Separator/>
   <Action name="edit_find"/>
   <Action name="edit_find_next"/>
   <Action name="edit_find_prev"/>
  </Menu>
  <Menu name="view" noMerge="1">
   <text translationDomain="okular">&amp;View</text>
   <Action name="presentation"/>
   <Separator/>
   <Action name="view_zoom_in"/>
   <Action name="view_zoom_out"/>
   <Action name="view_actual_size"/>
   <Action name="view_fit_to_width"/>
   <Action name="view_fit_to_page"/>
   <Action name="view_auto_fit"/>
   <Separator/>
   <Action name="view_continuous"/>
   <Action name="view_render_mode"/>
   <Separator/>
   <Menu name="view_orientation" noMerge="1">
    <text translationDomain="okular">&amp;Orientation</text>
    <Action name="view_orientation_rotate_ccw"/>
    <Action name="view_orientation_rotate_cw"/>
    <Action name="view_orientation_original"/>
   </Menu>
   <Action name="view_pagesizes"/>
   <Action name="view_trim_mode"/>
   <Separator/>
   <Action name="view_toggle_forms"/>
  </Menu>
  <Menu name="go" noMerge="1">
   <text translationDomain="okular">&amp;Go</text>
   <Action name="go_previous"/>
   <Action name="go_next"/>
   <Separator/>
   <Action name="first_page"/>
   <Action name="last_page"/>
   <Separator/>
   <Action name="go_document_back"/>
   <Action name="go_document_forward"/>
   <Separator/>
   <Action name="go_goto_page"/>
  </Menu>
  <Menu name="bookmarks" noMerge="1">
   <text translationDomain="okular">&amp;Bookmarks</text>
   <Action name="bookmark_add"/>
   <Action name="rename_bookmark"/>
   <Action name="previous_bookmark"/>
   <Action name="next_bookmark"/>
   <Separator/>
   <ActionList name="bookmarks_currentdocument"/>
  </Menu>
  <Menu name="tools" noMerge="1">
   <text translationDomain="okular">&amp;Tools</text>
   <Action name="mouse_drag"/>
   <Action name="mouse_zoom"/>
   <Action name="mouse_select"/>
   <Action name="mouse_textselect"/>
   <Action name="mouse_tableselect"/>
   <Action name="mouse_magnifier"/>
   <Separator/>
   <Action name="mouse_toggle_annotate"/>
   <Separator/>
   <Action name="speak_document"/>
   <Action name="speak_current_page"/>
   <Action name="speak_stop_all"/>
   <Action name="speak_pause_resume"/>
  </Menu>
  <Menu name="settings" noMerge="1">
   <text translationDomain="okular">&amp;Settings</text>
   <Action name="show_leftpanel" group="show_merge"/>
   <Action name="show_bottombar" group="show_merge"/>
   <Action name="options_configure_generators" group="configure_merge"/>
   <Action name="options_configure" group="configure_merge"/>
  </Menu>
  <Menu name="help" noMerge="1">
   <text translationDomain="okular">&amp;Help</text>
   <Action name="help_about_backend" group="about_merge"/>
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar" noMerge="1">
  <Action name="mouse_drag"/>
  <Action name="mouse_zoom"/>
  <Action name="mouse_toggle_annotate"/>
  <Spacer name="spacer_0"/>
  <Action name="mouse_select"/>
  <Action name="mouse_textselect"/>
  <Action name="mouse_tableselect"/>
  <Spacer name="spacer_1"/>
  <Action name="view_zoom_out"/>
  <Action name="view_zoom_in"/>
  <text translationDomain="okular">Main Toolbar</text>
  <Action name="zoom_to"/>
  <Spacer name="spacer_2"/>
  <Action name="edit_find"/>
  <Action name="edit_undo"/>
  <Action name="edit_redo"/>
  <Action name="previous_bookmark"/>
  <Action name="next_bookmark"/>
  <Action name="rename_bookmark"/>
  <Spacer name="spacer_3"/>
  <Action name="view_render_mode_single"/>
  <Action name="view_render_mode_facing"/>
  <Action name="view_fit_to_width"/>
  <Action name="view_fit_to_page"/>
 </ToolBar>
 <ActionProperties>
  <Action name="go_next" shortcut=""/>
  <Action name="go_previous" shortcut=""/>
  <Action name="presentation" shortcut=""/>
  <Action iconText="Width" icon="zoom-fit-best-symbolic" name="view_fit_to_width" shortcut="Ctrl+Shift+P"/>
  <Action iconText="Begin" name="first_page"/>
  <Action iconText="End" name="last_page"/>
  <Action name="mouse_toggle_annotate" shortcut="F6; Ctrl+/"/>
  <Action iconText="Prev" name="previous_bookmark"/>
  <Action iconText="Page" icon="zoom-fit-best-symbolic" name="view_fit_to_page"/>
  <Action iconText="Facing" name="view_render_mode_facing"/>
  <Action iconText="Single" name="view_render_mode_single"/>
  <Action iconText="Area" name="mouse_select"/>
  <Action iconText="Text" name="mouse_textselect"/>
  <Action iconText="Table" name="mouse_tableselect"/>
  <Action iconText="Next" name="next_bookmark"/>
  <Action iconText="Rename" name="rename_bookmark"/>
 </ActionProperties>
</kpartgui>
